.hero_banner_slider {
  padding: 60px 0;
  background: #f4f4f4;


  &_holder {
    .hero_banner_group {
      position: relative;
      .hero_offer_content {
        background: #fff;
        text-align: center;
        padding: 40px 15px;
        position: relative;

        .hero_offer_detail {
          .hero_offer_discount {
            font: 300 56px $priFont;
            color: $redColor;
            margin-bottom: 22px;
          }

          .hero_offer_title {
            font: 700 36px $priFont;
            color: $priColor;
            margin-bottom: 10px;
          }

          .hero_offer_des {
            text-align: center;
            width: 100%;
            &_text {
              font: 300 18px/26px $priFont;
              color: $textColor;
              margin-bottom: 30px;
            }
          }
        }

        .hero_offer_price {
          margin-top: 30px;
          .regular_price {
            &_text {
              font: 700 21px $priFont;
              color: $priColor;
              text-decoration: line-through;
              text-transform: uppercase;
            }
          }

          .sale_price {
            font: 700 36px $priFont;
            color: $redColor;
            text-transform: uppercase;
          }
        }

        .hero_form {
          margin-top: 35px;

          &_holder {
            position: relative;
            .site_form {
              input[type="text"] {
                width: 100%;
                height: 50px;
                font: 500 16px $priFont;
                color: $textColor;
                background-color: #fff;
                padding: 0px 15px;
                border: 2px solid $priColor;
                border-radius: 3px;
                &:focus {
                  outline: none;
                }
              }

              input[type="submit"] {
                width: 100px;
                font: 500 16px $priFont;
                color: #fff;
                background: $greenColor;
                birder: none;
                border-radius: 3px;
                position: absolute;
                top: 5px;
                right: 5px;
                bottom: 5px;

                &:focus, &:hover {
                  outline: none;
                  background: darken($greenColor, 10%);
                }
              }
            }
          }
        }

        .hero_counter {
          margin-top: 63px;
          &_holder {
            .counter_caption {
              font: 700 14px $priFont;
              text-transform: uppercase;
              letter-spacing: 5px;
              color: $redColor;
              margin-bottom: 30px;
            }

            .counter {
              &-group {
                &-item {
                  display: inline-block;
                  width: 95px;
                  text-align: center;
                  position: relative;

                  .numaric {
                    height: 58px;
                    width: 100%;
                    display: block;
                    font: 700 46px/80px $priFont;
                    margin-bottom: 10px;
                  }

                  .caption {
                    font: 400 14px $priFont;
                    color: $textColor;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                  }

                  &:not(:last-child):after {
                    content: '';
                    width: 1px;
                    height: 50%;
                    background: $sapColor;
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                    right: 0;
                  }

                }
              }
            }
          }
        }

        &:after {
          content: '';
          position: absolute;
          border: 2px solid #fff;
          top: -10px;
          right: -10px;
          bottom: -10px;
          left: -10px;
        }
      }

      &:after {
        content: '';
        width: 30%;
        height: 100%;
        background: $sapColor;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
      }

    }
  }
}

.hero_slider_video {
  position: absolute;
  top: 100%;
  right: 0;
  text-decoration: none;
  display: inline-block;
  img {
    vertical-align: middle;
  }
  a {
    text-decoration: none;
    color: $secColor;
    display: inline-block;
    font-weight: 500;
  }
}
