.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999999999;
  background: #fff;
  opacity: 1;
  -webkit-transition: all .4s ease .2s;
  transition: all .4s ease .2s;

  &-wrapper {
    width: 500px;
    overflow: hidden;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
  }

  &.hide {
    opacity: 0;
    z-index: -1;
  }
}



html[lang="ar-AE"] {
  .preloader {
    direction: ltr;
  }
}
